body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#particles-js{
    background: #020043;
}

.form-content {
    background: linear-gradient(
        50deg,
        rgba(223,194,151,1) 50%,
        rgba(40,42,55,0.7)),
        url(../img/fondo.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250%;
    border-radius: 5px;
    font-weight: bold;
    min-width: 400px;
    top: 17%;
    padding: 1%;
    margin: 0;
    position: sticky;
    text-align: center;
} 

.form-content h2 {
    color: #f4f6f9;
    font-size: 40px;
    margin-bottom: 25px;
}

.text-login {
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 20%;
    top: 0;
    border-radius: 10px;
}

.text-login h1{
    font-size: 270%;
    color:#fff;
    text-align: center;
    font-weight: bold;
}

.text-login h3{
    color:#fff;
    font-size: 130%;
    text-align: center;
    font-style: italic;
    min-height: 80vh;
    margin-top: -2%;
    white-space: nowrap;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

.input-field {
    margin-bottom: 10px;
    width: calc(100% - 20px);
    border-radius: 10px;
    border: 2px solid white;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1;
    color: #000;
}

input:focus{
    border: 2px solid rgb(18, 11, 107);
    user-select: all;
}

.button {
    background-color: black;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid black;
    z-index: 1;
    width: 100%;
}

.button:hover {
    background-color: #222;
    border-color: white;
}

/*.logo-login {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}*/

.copy {
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 80rem;
    color: white;
    bottom: 2rem;
    border-radius: 10px;
    background-color: transparent;
}
.copy span {
    font-size: 0.9rem;
    color:#fff;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-left: 46%;
    white-space: nowrap;
}

.volver {
    background-color: gray;
    color: white;
    width: 10rem;
    margin: 0.5rem;
    border: none;
    height: 1.8rem;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid;
}
.volver:hover {
    background-color: #0e92df;
}

label {
    font-size: 17px;
    color: #000;
    margin-bottom: 10px;
}

input, textarea {
    padding: 17px, 14px;
    background-color: #333646;
    border: 0;
    font-size: 15px;
    color: #f4f6f9;
    margin-bottom: 20px;
    border-radius: 10px;
}

:focus {
    outline: 1px solid #1e92e9;
}

@media(max-width:991px) {
    body {
        padding: 30px;
    }

    .form-content {
        width: 100%;
    }

    form {
        width: 100%;
    }
} 