* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  background-color: #12171e;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
  z-index: 8;
}
.sidebar.active ~ .main-content {
  left: 25%;
  width: 75%;
  display: flex;
  position: absolute;
}
.sidebar.active {
  width: 25%;
}
.sidebar #btn_menu {
  position: absolute;
  color: white;
  top: .8rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 2;
}
.sidebar.active #btn_menu {
  left: 90%;
  z-index: 2;
}
.sidebar .top .logo {
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}
.sidebar.active .top .logo {
  opacity: 1;
}
.top .logo i {
  font-size: 2rem;
  margin-right: 5px;
}
.bold {
  font-weight: 600;
}
.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}
.sidebar ul li a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
  position: absolute; 
  width: 100%;
}
.sidebar ul li a:hover {
  background-color: white;
  color: #12171e;
}
.sidebar ul li a i {
  min-width: 100px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
  transform: translateX(0%);
}
.sidebar .nav-item {
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transform: translateX(-25%);
}
.sidebar.active .nav-item {
  opacity: 1;
  white-space: nowrap;
}
.sidebar ul li .tooltip {
  position: absolute;
  left: 185px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: .4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sidebar ul li .tooltip:hover {
  opacity: 0;
  display: none;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sidebar ul li:hover .tooltip {
  opacity: 1;
  white-space: nowrap;
}
.sidebar.active ul li .tooltip {
  display: none;
  opacity: 0;
  white-space: nowrap;
}
.main-content {
  position: absolute;
  background-color: #eee;
  top: 0;
  left: 10%;
  height: 100%; 
  transition: all 0.5s ease;
  width: 90%;
  padding: 1rem;
  display: flex;
  overflow: auto;
}
.arriba {
  display: flex;
  top: 0;
  position: absolute;
  right: 0;
  z-index: 2;
  height: 20%;
  width: 95%;
  /*background-color: yellowgreen;*/
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 15px;
  margin-left: 125px;
}
.abajo {
  display: block;
  width: 95%;
  position: absolute;
  z-index: 1;
  /* height: auto; */
  bottom: 0;
  right: 0;
  top: 8%;
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  /*background-color: red;*/
  margin-top: 100px;
  margin-right: 25px;
  margin-bottom: 15px;
  margin-left: 125px;
  /* overflow: auto; */
}
.opciones {
  /*background-color: red;*/
  display: flex;
  top: 0;
  position: absolute;
  right: 0;
  height: 20%;
  left: 2%;
  /*width: 95%;*/
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 15px;
  margin-left: 125px;
}
.tabla {
  /*background-color: yellowgreen;*/
  display: block;
  width: 95%;
  position: absolute;
  height: auto;
  bottom: 0;
  right: 0;
  top: 8%;
  margin-top: 100px;
  margin-right: 25px;
  margin-bottom: 15px;
  margin-left: 125px;
  overflow: auto;
}
.BotonRegistro {
  width: 200px;
  height: 65px;
  padding: 10px;
  position: absolute;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  align-items: center;
  background-color: rgb(0, 0, 90);
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  min-width: 200px;
  color: #eee;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.formulario {
  z-index: 3;
  padding: 20px;
  position: relative;
  display: block;
}
.formulario .formu {
  z-index: 20;
  width: 60vh;
  left: 36%;
  top: 100%;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  background-color: rgb(7, 0, 56);
  display: block;
  position: absolute;
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
}
.formulario .formu label {
  position: relative;
  color: rgb(7, 0, 56);
  font-weight: bold;
  padding: 0 2px;
  transform: translateY(-20%);
  margin-bottom: 220px;
  top: 8px;
  right: -45px;
  pointer-events: none;
  transition: .5s;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 6px;
  background-color: rgb(225, 220, 255);
}
.formulario .formu .formarriba .tituloform{
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-size: 240%;
  z-index: 2;
  display: flex;
  margin-right: 40px;
  justify-content: center;
}
.formulario .formu fieldset {
  border: none;
  border-bottom: 3px solid rgb(59, 59, 79);
  display: block;
  justify-content: center;
}
.formulario .formu fieldset:last-of-type {
  border-bottom: none;
}
.formulario .formu input {
  width: 80%;
  background: transparent;
  margin-right: 0;
  margin-left: 10%;
  display: block;
  min-height: 2em;
  font-weight: bold;
  color: #ffffff;
  border-left: rgb(7, 0, 56);
  border-right: rgb(7, 0, 56);
  border-top: rgb(7, 0, 56);
  padding: 5px;
  font-size: 18px;
  border-radius: 0.2rem;
  outline: none;
}
.formulario .formu input:focus {
  border-bottom-color: blue;
}

.formulario .formu .formarriba{
  z-index: 3;
  justify-content: center;
}
.formulario .formu .formarriba .CancelX {
  display: block;
  width: 10%;
  z-index: 3;
  position: absolute;
  margin: auto;
  height: 20px;
  font-size: 1rem;
  background-color: white;
  color: #00329d;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  right: 10px;
  margin-top: -40px;
}

.formulario .formu .Cancelar {
  display: block;
  width:50%;
  margin: auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: gray;
  min-width: 200px;
  color: #eee;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.formulario .formu .submitir {
  display: block;
  width:60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #00329d;
  border: 1px solid #00329d;
  min-width: 300px;
  margin-bottom: 3%;
  color: #eee;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  outline-color: #00329d;
}
#btn-actualizar {
  width: 50px;
  height: 50px;
  padding: 10px;
  position: absolute;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  left: 220px;
  font-size: 2.1rem;
  align-items: center;
  background-color: rgb(30, 0, 255);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  color: #eee;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.abajo ~ .tabla {
  height: auto;
  overflow: auto;
}

/* Estilos de la tabla */
#vista {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  height: auto;
}
#vista-cuerpo {
  height: auto;
}

/* Estilos de las celdas */
#vista th,
#vista td {
  padding: 10px;
  text-align: left;
  border: 1px solid #d2d2d2;
  height: auto;
}

/* Estilos de la cabecera */
#vista thead {
  background-color: #f3f3f3;
  font-weight: bold;
  height: auto;
}
#vista tbody {
  overflow: auto;
}
/* Estilos de las filas alternas */
#vista tbody tr:nth-child(even) {
  background-color: #fafafa;
  height: auto;
}

/* Estilos de las filas al pasar el ratón */
#vista tbody tr:hover {
  background-color: #eaeaea;
}


/*RESPONSIVE*/
@media only screen and (max-width: 1000px) { 
  .sidebar ul li a i {
    position: absolute;
    transform: translateX(-15%);
  }
  .sidebar.active .nav-item {
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
  }
  .sidebar .nav-item {
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
  }
  .sidebar.active .top .logo {
    opacity: 0;
  }
  .sidebar.active #btn_menu {
    left: 50%;
  }
  .sidebar #btn_menu {
    left: 50%;
  }

}

@media only screen and (max-width: 600px) { 
  .sidebar.active .nav-item {
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
  }
  .sidebar.active .top .logo {
    opacity: 0;
  }
  .sidebar.active #btn_menu {
    left: 50%;
  }
  .sidebar ul li a i {
    position: absolute;
    transform: translateX(-35%);
  }
  .sidebar.active ul li a i {
    position: absolute;
    transform: translateX(0%);
  }
}
@media only screen and (max-width: 570px) {
  .sidebar{
    width: 100%;
    z-index: 20;
  }
  .sidebar.active {
    width: 100%;
    z-index: 20;
  }
  .sidebar .nav-item {
    opacity: 1;
    pointer-events: none;
    white-space: nowrap;
    position: absolute;
    display: block;
    transform: translateX(75%);
  }
  .sidebar.active .nav-item {
    opacity: 1;
    position: absolute;
    display: block;
    pointer-events: none;
    white-space: nowrap;
    transform: translateX(75%);
  }
  .sidebar.active #btn_menu {
    opacity: 0;
    pointer-events: none;
  }
  .sidebar #btn_menu {
    opacity: 0;
    pointer-events: none;
  }
  .sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
  }
  .sidebar.active ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
  }
  .sidebar ul li a i {
    min-width: 100px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    transform: translateX(-25%);
  }
  .sidebar.active ul li a i {
    min-width: 100px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    transform: translateX(-25%);
  }
  .sidebar ul li a {
    color: white;
    display: flex;
    align-items: left;
    text-decoration: none;
    border-radius: 0.8rem;
    position: absolute; 
    transform: translateX(25%);
  }
  .sidebar.active ul li a {
    color: white;
    display: flex;
    align-items: left;
    text-decoration: none;
    border-radius: 0.8rem;
    position: absolute; 
    transform: translateX(25%);
  }
}