* {
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
  position: absolute;
  top: 0;
  height: 100%; 
  width: 100%;
  left: 0;
  background-color: var(--light-color);
}
.arriba {
    display: flex;
    top: 0;
    position: absolute;
    right: 0;
    z-index: 2;
    height: 20%;
    width: 95%;
    max-width: 95%;
    /*background-color: yellowgreen;*/
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 15px;
    background-color: #12171e;
  }
  .arriba #clock {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-top: 45px;
    position: absolute;
    display: flex;
    color: white;
    padding: 20px;
    margin-left: 10px;
  }
  .arriba h1{
    position: absolute;
    display: flex;
    color: white;
    padding: 10px 10px;
    margin-left: 20px;
    font-size: 2.2rem;
  }
  .arribaopciones #UsuarioBoton {
    background-color: none;
    background-color:transparent;
    color:white;
    width:30%;
    border:none;
    margin: 15px;
    font-size:3.2rem;
    cursor: pointer;  
  }
  .arribaopciones #ConfiguracionBoton {
    background-color: none;
    background-color:transparent;
    color:white;
    width:30%;
    font-size:3.2rem;
    margin: 15px;
    border:none;
    cursor: pointer;
  }
  .arribaopciones #notificacion {
    background-color: none;
    background-color:transparent;
    color:white;
    width:30%;
    font-size:3.2rem;
    margin: 15px;
    border:none;
    cursor: pointer;
  }
  .arriba .arribaopciones{
    font-size: 4.1rem;
    color: rgb(0, 0, 0);
    display: flex;
    position:absolute;
    z-index: 2;
    width:20%;
    max-width: 20%;
    height:50%;
    padding:3px;
    margin: 25px;
    margin-left: 76%;
  }
  .abajo {
    height: 73%;
    max-width: 95%;
    width: 95%;
    top: 9rem;
    background-color: aliceblue;
    position: absolute;
    display: flex;
    right: 0;
    margin-right: 25px;
    margin-top: 1.5rem;
    padding: 10px;
  }
  .abajo .formulario{
    max-width: 30%;
    width: 30%;
    background-color: aliceblue;
    padding: 20px;
    position: relative;
    display: block;
    justify-content: center;
  }
  .abajo .formulario .formusuarios{
    background-color: aliceblue;
    position: absolute;
    display: block;
    justify-content: center;
    border-radius: 0.6rem;
    width: 90%;
    max-width: 90%;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  }
  .formulario .formusuarios .datos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .formulario .formusuarios .datos .campo {
    width: calc(85% / 2);
    margin: 0;
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 10px;
  }
  .formulario .formusuarios .datos .campo select {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 80%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  .formulario .formusuarios .datos .campo input {
    width: 80%;
    background: transparent;
    min-height: 1em;
    font-weight: bold;
    color: #101010;
    border-left: aliceblue;
    border-right: aliceblue;
    border-top: aliceblue;
    padding: 5px;
    font-size: 15px;
    border-radius: 0.2rem;
    outline: none;
  }
  .formulario .formusuarios .datos .campo label{
    color: rgb(7, 0, 56);
    font-weight: bold;
    padding: 0 2px;
    white-space: nowrap;
    pointer-events: none;
    transition: .5s;
    border-radius: 10px;
    padding: 0 10px;
  
    background-color: rgb(225, 220, 255);
  }
  .formulario .formarriba h1{
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(20, 20, 20);
    font-size: 30px;
    z-index: 2;
    display: flex;
    margin-right: 20px;
    justify-content: center;
  }
  .formulario .formusuarios .submit {
    display: block;
    width:60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #00329d;
    border: 1px solid #00329d;
    min-width: 300px;
    margin-bottom: 3%;
    color: #eee;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    outline-color: #00329d;
  }
  .configuracion_tab {
    background-color: rgb(50, 49, 49);
    position: absolute;
    display: block;
    width: 15rem;
    height: 12rem;
    top: 7em;
    padding: 10px;
    margin: 20px;
    margin-left: 40%;
    justify-content: center;
    z-index: 9;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    
  }
  .configuracion_tab button{
    position: relative;
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    background-color: #12171e;
    color: white;
    font-weight: bold;
    border: none;
    height: 30px;
    text-align: center;
    border-radius: 1rem;
    margin-left: 5%;
    cursor: pointer;
    margin-top: 20%;
  }
  .user_tab {
    background-color: rgb(50, 49, 49);
    position: absolute;
    display: block;
    width: 15rem;
    height: 12rem;
    right: 8rem;
    top: 7rem;
    padding: 10px;
    margin: 20px;
    justify-content: center;
    z-index: 2;
    color: white;
    border-radius: 1rem;
    font-weight: bold;
  }
  .user_tab .usuario {
    width: 100%;
    height: 40%;
    margin: 20px;
  }
  .user_tab .user-boton{
    width: 10%;
    height: 30%;
    margin-bottom: 1px;
    text-align: center;
    
  }
  .user-boton a {
    width: 80%;
    height: 40px;
    border-radius: 2rem;
    background-color: #00329d;
    border-color: #eee;
    border-width: 2px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position:absolute;
    overflow:none;
    margin:5px;
    padding:5px;
    text-decoration:none;
  }
  .user-boton a span {
    font-size: 17px;
  }
  .user_boton a i {
    font-size: 15px;
    position:absolute;
    margin:10px;
  }
  .difuminado2 {
    backdrop-filter: blur(5px);
    display: none;
    z-index: -1;
    position: absolute;
    width: 98%;
    top: 0;
    height:100%;
  }

  .notif_tab {
    background-color: rgb(50, 49, 49);
    position: absolute;
    display: block;
    width: 15rem;
    height: 12rem;
    right: 5.2rem;
    top: 7rem;
    padding: 10px;
    margin: 20px;
    justify-content: center;
    z-index: 2;
    color: white;
    font-weight: bold;
    overflow-y: auto;
    border-radius: 1rem;
  }
  .notif_tab .Notif {
    position: absolute;
    display: block;
    margin: 10px;
    line-height: 1rem;
  }
  .alado {
    display: block;
    width: 65%;
    position: relative;
    z-index: 1;
    padding: 10px;
    /* height: auto; */
    right: 0;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    justify-content: center;
    /* overflow: auto; */
  }
  .opciones {
    background-color: #12171e;
    top: 0;
    position: absolute;
    height: 20%;
    width: 98%;
    max-width: 98%;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 1rem;
  }
  .opciones #btn-actualizar {
    width: calc(7% - 5px);
    height: 65px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    font-size: 2.1rem;
    align-items: center;
    background-color: rgb(30, 0, 255);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    color: #eee;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    justify-content: center;
  }
  .opciones #btn-delete {
   background-color: gray;
   width: calc(7% - 5px);
   display: inline-block;
   height: 65px;
   color: white;
   margin-top: 20px;
   padding: 10px;
   font-weight: bold;
   cursor: pointer; 
   font-size: 1.8rem;
   align-items: center;
   border: none;
   margin: 10px;
   border-radius: 0.6rem;
   justify-content: center;
   box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
   overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .opciones #btn-edit {
      background-color: gray;
    width: calc(7% - 5px);
    display: inline-block;
    height: 65px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer; 
    font-size: 1.8rem;
    align-items: center;
    border: none;
    margin: 10px;
    border-radius: 0.6rem;
    justify-content: center;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  .opciones #btn-edit:enabled {
    background-color: rgb(7, 0, 56);
  }
  
  .abajo .tabla-buscadoruser {
    background-color: transparent;
    display: inline-block;
    width: calc(20% - 5px);
    height: 20px;
    align-items: center;
    border-bottom-color: #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;
    outline: none;
    margin-left: 50px;
  }
  .abajo #iconobuscador2{
    font-size: 30px;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    margin: 2px;
    margin-left: -1.1rem;
    color: white;
  
  }
  .opciones #btn-delete:enabled {
    background-color: rgb(255, 0, 0);

   }
  .tabla {
    width: 100%;
    position: absolute;
    height: 70%;
    max-height: 70%;
    margin-top: 8rem;
    overflow-y: auto; 
    max-width: 100%;
    display: block;
  }
  #vista {
    width: 98%;
    top: 5%;
    border-collapse: collapse;
    height: 20px;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    max-width: 98%;
    max-height: 100%;
    table-layout: fixed;
  }
  
  /* Estilos de las celdas */
  #vista th,
  #vista td {
    padding: 10px;
    text-align: left;
    border: 1px solid #d2d2d2;
    font-weight: bold;
    border: none;
    max-height: 20px;
    overflow: hidden;
  }
  
  /* Estilos de la cabecera */
  #vista thead {
    background-color: rgb(7, 0, 56);
    font-weight: bold;
    height: auto;
    color: white;
  
    position: sticky;
    top: 0%;
    padding-top: 15%;
    max-width: 90%;
  }
  #vista thead th{
    position: sticky;
    top: 0;
  }
  #vista #vista-cuerpo {
    top: 1%;
    max-height: 100px;
  }
  #vista tbody tr{
    overflow-y: auto;
    height: 20px;
    max-height: 20px;
  }
  #vista td {
    overflow-x: auto;
  }
  
  /* Estilos de las filas alternas */
  #vista tbody tr:nth-child(even) {
    background-color: #fafafa;
    height: auto;
  }
  
  /* Estilos de las filas al pasar el ratón */
  #vista tbody tr:hover {
    background-color: rgb(183, 230, 255);
    cursor: pointer;
  }
  #vista tbody tr::selection,
  #vista tbody tr:active {
    background-color: aquamarine;
  }
  #vista th:first-child,
  #vista td:first-child {
    width: 5%;
  }
  #vista th:nth-child(5),
  #vista td:nth-child(5) {
    width: 5%;
  }
  #vista th:nth-child(6),
  #vista td:nth-child(6) {
    width: 8%;
  }
  
  /* Estilo para fila seleccionada */
  #vista-cuerpo input[type=radio]:checked + tr {
    background-color: rgb(183, 230, 255);
  }
  ::-webkit-scrollbar {
    width: 2px;
    height: 4px;
    background-color: transparent;
  }
  
  /* Change the scrollbar thumb color */
  ::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 1rem;
  
  }



  /* ------------ VARIABLES ------------ */
:root{
  /* COLORS */
  --color: #9176FF;
  --dark-color: #2b2b2b;
  --dark-icon-color: #fff;
  --light-color: #f7f7f7;
  --light-icon-color: #FFDE59;
}

  .btn{
    background-color: #fff;
    width: 2em;
    height: 2em;
    margin: 0.4rem;
    border-radius: 10em;
    padding: 0 0.9em;
  
    box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
                inset 0 8px 8px rgba(0,0,0, .1),
                inset 0 -4px 4px rgba(0,0,0, .1);
  
    position: relative;
  
    display: flex;
    align-items: center;
  
    cursor: pointer;
  }
  
  .btn__indicator{
    background-color: #fff;
    width: 7%;
    height: 7%;
    border-radius: 50%;
  
    position: absolute;
  
    box-shadow: 0 8px 40px rgba(0,0,0, .2);
  
    transition: transform .9s ease;
  }
  
  .btn__icon-container{
    width: 100%;
    height: 100%;
    background:#ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn__icon{
    color: var(--light-icon-color);
    font-size: 2rem;
  }
  
  /* -------------- ANIMATION ------------ */
  .btn__icon.animated{
    animation: spin 0.6s;
  }
  
  @keyframes spin{
    to {
      transform: rotate(360deg);
    }
  }
  
  /* -------------- DARKMODE -------------- */
  .main-content.darkmode{
    background-color: var(--dark-color);
  }
  .darkmode .abajo {
    background-color: transparent;
  }
  .darkmode .abajo .formulario {
    background-color: transparent
  }
  .darkmode .abajo .formulario .formusuarios{
    background-color: #12171e;
  }
  .darkmode .formulario .formarriba h1{
    color: white;
  }
  .darkmode .btn__icon {
    margin-left: 3.5rem;
  }
  .darkmode .tabla-buscadoruser {
    color: white;
  }
  
  .darkmode .logo-help{
    color: white;
  }
  .darkmode .abajo #iconobuscador2 {
    color: white;
  }
  .darkmode .abajo .tabla-buscador {
    color: white;
  }

  .darkmode #vista tbody tr:nth-child(even) {
    background-color: rgba(64, 64, 64, 0.596);
  }
  .darkmode #vista thead{
   background-color: rgb(7, 0, 56);
  }
  .darkmode #vista td{
    border: 1px solid;
    border-bottom: #d2d2d2;
    border-right: none;
    border-left: none;
    border-bottom: #717171;
    color: rgb(240, 240, 240);
  }
  .darkmode #vista tbody tr:hover{
    background-color: #717171;
  }
  .darkmode #vista-cuerpo input[type=radio]:checked + tr{
    background-color: #717171;
  }
  
  
  .darkmode .btn{
    box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
                inset 8px 0 8px rgba(0,0,0, .3),
                inset 0 -4px 4px rgba(0,0,0, .3);
  }
  
  .darkmode .btn__indicator{
    transform: translateX(7%);
    background-color: var(--dark-color);
    box-shadow: 0 8px 40px rgba(0,0,0, .3);
  }
  
  .darkmode .btn__icon{
    color: var(--dark-icon-color);
  }

  @media only screen and (max-width: 900px) { 
     
      .abajo {
        display: flex;
        height: 100%;
        place-items: center;
        overflow: auto;
      }
    
      .abajo.formulario {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        width: 100%;
        top: 0;
        max-height: 30%;
      }
      .arriba .arribaopciones {
        margin-left: 70%;
      }
      .abajo.formulario.formusuarios {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 0;
      }
      .abajo.alado {
        max-width: 100%;
        max-height: 60%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        width: 100%;
      }
      .abajo.tabla {
        position: relative;
      }


  }