* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .main-content {
    position: absolute;
    top: 0;
    height: 100%; 
    width: 100%;
    padding: 1rem;
    display: flex;
    background-color: var(--light-color);
  }
  .arriba {
    display: flex;
    top: 0;
    position: absolute;
    right: 0;
    z-index: 2;
    height: 20%;
    width: 95%;
    /*background-color: yellowgreen;*/
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 15px;
    margin-left: 125px;
    background-color: #12171e;
  }
  .arriba #clock {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-top: 45px;
    position: absolute;
    display: flex;
    color: white;
    padding: 20px;
    margin-left: 10px;
  }
  .arriba h1{
    position: absolute;
    display: flex;
    color: white;
    padding: 10px 10px;
    margin-left: 20px;
    font-size: 3.2rem;
  }
  .arribaopciones #UsuarioBoton {
    background-color: none;
    background-color:transparent;
    border-bottom-color: none;
    color:white;
    border-top: none;
    border-left: none;
    border-right: none;
    width:60%;
    height: 100%;
    margin: 15px;
    font-size:3.2rem;
    cursor: pointer;  
    border-radius: 2rem;
  }
  .arribaopciones #UsuarioBoton:hover {
    background-color: rgba(128, 128, 128, 0.301);
  }
  .arribaopciones #ConfiguracionBoton {
    background-color: none;
    background-color:transparent;
    color:white;
    border-bottom-color: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width:60%;
    font-size:3.2rem;
    height: 100%;
    margin: 15px;
    cursor: pointer;
    border-radius: 2rem;
  }
  .arribaopciones #ConfiguracionBoton:hover {
    background-color: rgba(128, 128, 128, 0.301);
  }
  .arribaopciones #notificacion {
    background-color: none;
    background-color:transparent;
    color:white;
    width:60%;
    font-size:3.2rem;
    height: 100%;
    margin: 15px;
    border-bottom-color: none;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    border-radius: 2rem;
  }
  .arribaopciones #notificacion:hover {
    background-color: rgba(128, 128, 128, 0.301);
  }
  .arribaopciones .iconoerror {
    background-color: red;
    color: white;
    width: 1.8rem;
    height: 1.8rem;
    font-size: 26px;
    text-align: center;
    display: flex;
    border-radius: 1rem;
    position: absolute;
    margin-top: -50px;
    margin-left: 24px;
  }
  
  .arriba .arribaopciones{
    font-size: 4.1rem;
    color: rgb(0, 0, 0);
    display: flex;
    position:absolute;
    z-index: 2;
    width:20%;
    max-width: 20%;
    height:50%;
    padding:3px;
    margin: 25px;
    margin-left: 76%;
  }
  
  
  .abajo {
    display: flex;
    position: absolute;
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    z-index: 1;
    max-height: 70%;
    height: 70%;

   bottom: 0;

   top: 8%;
   border-radius: 0.6rem;
   box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
   /*background-color: red;*/
   margin-top: 120px;
   margin-left: 2%;

   margin-bottom: 15px;
    justify-content: center;
    /* overflow: auto; */
  }
  .tienda {

    width: 60%;
    max-width: 60%;
    min-width: 60%;
    height: 100%;
    max-height: 100%;
    margin-left: 10%;
    min-height: 100%;
    float: left;
  }
  .alado {
    background-image: url(/views/img/edit.png);
    width: 40%;
    float: right;
    max-width: 40%;
    min-width: 40%;
    height: 100%;
    margin-right: 10%;
    max-height: 100%;
    min-height: 100%;
   
  }
 .tienda #opciones {
    background-color: #12171e;
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    height: 15%;
    max-height: 15%;
    padding: 10px 10px;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  }
  #opciones input + button {
    width: 20%;
    background-color: gray;
    color: white;
    font-weight: bold;
    margin: 10px;
    height: 30px;
    border: none;
    border-radius: 1rem;
  }
  #opciones button a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
  }
  #opciones input {
    height: 80%;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px;
    width: 20%;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
  text-overflow: ellipsis;
  color: white;
    background-color: rgb(0, 0, 156);
  }
  #opciones input[type=number] {
    background-color: aliceblue;
    text-align: center;
    font-size: 13px;
    color: black;
  }
  .tienda #main-form {
    padding: 10px 10px;
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    height: 15%;
    max-height: 15%;
  }
  #main-form input {
    width: 20%;
    margin-left: 15px;
    max-width: 20%;
    height: 60%;
    max-height: 60%;
    border-width: 1px;
    border-color: #000000;
    border-radius: 1rem;
    color: black;
    font-weight: bold;
    padding-left: 10px;
  }
  #main-form label {
    margin-right: 10px;
    width: 10%;
    max-width: 10%;
    min-width: 10%;
    font-weight: bold;
  }
  #main-form select {
    width: 20%;
    margin-left: 15px;
    color: black;
    font-weight: bold;
    max-width: 20%;
    height: 60%;
    max-height: 60%;
    border-width: 1px;
    border-color: #000000;
    border-radius: 1rem;
  }
  .configuracion_tab {
    background-color: rgb(50, 49, 49);
    position: absolute;
    display: block;
    width: 15rem;
    height: 12rem;
    top: 7em;
    padding: 10px;
    margin: 20px;
    margin-left: 45%;
    justify-content: center;
    z-index: 9;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    
  }
  .configuracion_tab button{
    position: relative;
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    background-color: #12171e;
    color: white;
    font-weight: bold;
    border: none;
    height: 30px;
    text-align: center;
    border-radius: 1rem;
    margin-left: 5%;
    cursor: pointer;
    margin-top: 20%;
  }
  .user_tab {
    background-color: rgb(50, 49, 49);
    position: absolute;
    display: block;
    width: 15rem;
    height: 12rem;
    right: 18rem;
    top: 7rem;
    padding: 10px;
    margin: 20px;
    justify-content: center;
    z-index: 3;
    color: white;
    border-radius: 1rem;
    font-weight: bold;
  }
  .difuminado2 {
    backdrop-filter: blur(5px);
    display: none;
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    height:100%;
  }
  .user_tab .usuario {
    width: 100%;
    height: 40%;
    margin: 20px;
  }
  .user_tab .user-boton{
    width: 10%;
    height: 30%;
    margin-bottom: 1px;
    text-align: center;
    
  }
  .user-boton a {
    width: 80%;
    height: 40px;
    border-radius: 2rem;
    background-color: #00329d;
    border-color: #eee;
    border-width: 2px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position:absolute;
    overflow:none;
    margin:5px;
    padding:5px;
    text-decoration:none;
  }
  .user-boton a span {
    font-size: 17px;
  }
  .user_boton a i {
    font-size: 15px;
    position:absolute;
    margin:10px;
  }
  .notif_tab {
    background-color: rgb(50, 49, 49);
    position: absolute;
    display: block;
    width: 16rem;
    height: 12rem;
    right: 13.2rem;
    top: 7rem;
    padding: 10px;
    margin: 20px;
    justify-content: center;
    z-index: 3;
    color: white;
    font-weight: bold;
    overflow-y: auto;
    border-radius: 1rem;
  }
  .notif_tab .Notif {
    position: absolute;
    display: block;
    margin: 10px;
    line-height: 1rem;
  }

  :root{
    /* COLORS */
    --color: #9176FF;
    --dark-color: #2b2b2b;
    --dark-icon-color: #fff;
    --light-color: #f7f7f7;
    --light-icon-color: #FFDE59;
  }
  /* -------------- BUTTON - PARA EL CAMBIO DE TEMA ENTRE CLARO Y OSCURO -------------- */
.btn{
  background-color: #fff;
  width: 4em;
  height: 2em;
  margin: 0.4rem;
  border-radius: 10em;
  padding: 0 0.9em;

  box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
              inset 0 8px 8px rgba(0,0,0, .1),
              inset 0 -4px 4px rgba(0,0,0, .1);

  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.btn__indicator{
  background-color: #fff;
  width: 7%;
  height: 7%;
  border-radius: 50%;

  position: absolute;

  box-shadow: 0 8px 40px rgba(0,0,0, .2);

  transition: transform .9s ease;
}

.btn__icon-container{
  width: 100%;
  height: 100%;
  background:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__icon{
  color: var(--light-icon-color);
  font-size: 2rem;
}

/* -------------- ANIMATION ------------ */
.btn__icon.animated{
  animation: spin 0.6s;
}

@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}

/* -------------- DARKMODE -------------- */
.main-content.darkmode{
  background-color: var(--dark-color);
}
.darkmode .btn__icon {
  margin-left: 3.5rem;
}
.darkmode .buscador {
  color: white;
}
.darkmode #iconobuscador {
  color: white;
}
.darkmode #main-form .line-form label {
  color: white;
}
.darkmode .logo-help{
  color: white;
}
.darkmode .abajo #iconobuscador2 {
  color: white;
}
.darkmode .abajo .tabla-buscador {
  color: white;
}
.darkmode .logo-help a{
  color: white;
}
.darkmode #vista tbody tr:nth-child(even) {
  background-color: rgba(64, 64, 64, 0.596);
}
.darkmode #vista thead{
 background-color: rgb(7, 0, 56);
}
.darkmode #vista td{
  border: 1px solid;
  border-bottom: #d2d2d2;
  border-right: none;
  border-left: none;
  border-bottom: #717171;
  color: rgb(240, 240, 240);
}
.darkmode #vista tbody tr:hover{
  background-color: #474747;
}
.darkmode #vista-cuerpo input[type=radio]:checked + tr{
  background-color: #474747;
}


.darkmode .btn{
  box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
              inset 8px 0 8px rgba(0,0,0, .3),
              inset 0 -4px 4px rgba(0,0,0, .3);
}

.darkmode .btn__indicator{
  transform: translateX(7%);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0,0,0, .3);
}

.darkmode .btn__icon{
  color: var(--dark-icon-color);
}